<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Reflect</title>
	<link rel="stylesheet" type="text/css" href="./resources/css/login.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
</head>
<body>
	<main>
		<div class="background">		
        <div class="form-container">
			{{#if obj.confirm}}
            <form class="form">
                <input type="text" placeholder="Email" class="email"> <br>
				<input type="password" placeholder="Password" class="password"> <br>
				<input type="password" placeholder="Confirm Password" class="password2"> <br>
                <button type="submit">Send reset email</button>
            </form>
			{{else if obj.reset}}
			<form class="form">
				<input type="text" placeholder="Email" class="email"> <br>
                <input type="password" placeholder="Password" class="password"> <br>
				<input type="password" placeholder="Confirm Password" class="password2"> <br>
                <button type="submit">Login</button>
			</form>
			{{else}}
            <form class="form">
                <input type="text" placeholder="Email" class="email"> <br>
                <input type="password" placeholder="Password" class="password"> <br>
				<input type="password" placeholder="Confirm Password" class="password2"> <br>
                <button type="submit">Login</button>
            </form>
			<h4><a href="/confirm-email">Forgot password</a></h4>
            <h3 class="register" ><a href="/register">Register</a></h3>
			{{/if}}
        </div>
		</div>
	</main>
	<script  src="./resources/js/login.js"></script>
</body>
</html>