<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Reflect</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/new-thread.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="navleft">	
            <a href="/"><h3>Reflect</h3></a>
        </div>
        <div class="navright">	
            <a href="/forums"><h3>Community</h3></a>
            <div class="drop-down">
                <a href=""><h3>Account</h3></a>
                <div class="drop-down-content">
                    <a href="/login" class="login"><button class="button">Login</button></a>
                </div>
            </div>
        </div>
		<div class="navrightmobile">
			<input type="checkbox" id="demo"/>
			<label for="demo"> 
				<h3>Menu</h3>
				<div class="drop-down-mobile">
					<div class="drop-down-content-mobile">
						{{#if obj.isLoggedIn}}
						<a href="/forums"><h3>Community Home</h3></a>
						<h3><a href="/user-{{obj.person}}" class="user">{{obj.person}}</a></h3>
						<h3><a href="/logout">Logout</a></h3>
						{{else}}
						<a href="/forums"><h3>Community Home</h3></a>
						<a href="/login" class="login"><h3>Login</h3></a>
						{{/if}}
					</div>
				</div>
			</label>
		</div>	
    </nav>
    <main>
        <div class="background"></div>              
        <h1 class="main-header">Forums</h1>
        <div class="top-bar">
            <div class="site-location">
                <h3><a href="/forums">Home</a> > <a href="/forums/threads" class="forum">Camping</a> > <a class="thread-name"></a> > <span>Add a post</span></h3>
            </div>			
        </div>
        <div class="column-container">
            <div class="new-post-container">
                {{#if obj.isLoggedIn}}
                <form class="new-post" method="PUT">
                    <textarea placeholder="" type="text" name="message" id="message" cols="40" rows="10"></textarea> <br>
                    <button type="submit" value="submit">POST</button>
                </form>
                {{else}}
                <div class="new-thread">
                    <h2>Loggin to post</h2>
                </div>
                {{/if}}
            </div>
        </div>       
    </main> 
    <script src="/resources/js/new-post.js"></script>
</body>
</html>