

body {
	margin: 0;
}


nav {
	display: flex;
	position: fixed;
	z-index: 1;
	background-color: white;
	top: 0;
	width: 100%;
	justify-content: space-between;
}

a {
	cursor: pointer;
	color: black;
	text-decoration: none;
}

a:hover {
	color: lightblue;
}

.navleft {
	margin-left: 14px;
}

.navright {
	display: flex;
	justify-content: end;
	margin-right: 14px;
}

.navright h3 {
	margin-left: 10px;
}

.drop-down {
	padding-left: 20px;
}

.drop-down-content {
	position: absolute;
	display: none;
	align-items: center;
	background-color: white;
	width: 300px;
	height: 50px;
	right: 10px;
	text-align: center;
}

.drop-down:hover .drop-down-content {
	display: flex;
}

button {
	margin-left: auto;
	margin-right: auto;
	height: 30px;
	width: 150px;
}



.main-header {
	margin-top: 80px;
}


.background {
	background-image: url(../images/Free_Wood_Texture_09.jpg);
	background-size: contain;
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: -1;	
}


.top-bar {
	width: 1240px;
	background-color: lightgray;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.column-container {
	width: 1240px;
	margin-left: auto;
	margin-right: auto;
	
}

.thread {
    width: 100%;
    height: 60px;
    background-color: gray;
	margin-top: 5px;
}
/*I think it's not considered best practice to do this but it seems more efficient
then comming up with js to give class names to these things. */
.thread h2, .thread p{
	margin-bottom: 7px;
	margin-top: 0;
}

.forumNav {
	display: inline;
}

