.background {
	background-image: url(../images/Free_Wood_Texture_09.jpg);
	background-size: contain;
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: -1;
    left: 0;
    right: 0;
    filter: brightness(90%);	
}
body {
    height: 100%;
    margin-top: 0px;
}
.form-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form { 
    text-align: center; 
}

input {
    height: 40px;
    width: 396px;
    margin-bottom: 2px;
    padding: 0px;
    font-size: 20px;
}

button {
    margin-top: 10px;
    width: 400px;
    height: 40px;
}

h3 {
    color: rgb(20%, 20%, 20%);
}

a {
    color: rgb(20%, 20%, 20%);    
}

a:hover {
    color: blue;
}

.password2 {
    display: none;
}
/* i'm going to see if I can find another solution to the password container
jumping up when match becomes visible just to have more ways of doing things */
.match {
    margin-top: 0px;
    position: absolute;
    bottom: 30%;
}


