.background {
	background-image: url(../images/Free_Wood_Texture_09.jpg);
	background-size: contain;
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: -1;
    left: 0;
    right: 0;
    filter: brightness(110%);	
}

main, body, html {
    height: 100%;
    margin: 0px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*I could just put a blank container above that fills the space down to where the
center of the container would be positioned half but I like this more. grid maybe
or I could relative postion and then position it down by whatever percentage would
make the center be centered. The height would have to be a percentage which it is
*/
.username {
    height: 80px;
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid black;
}

.info {
    height: 40%;
    width: 50%;
    text-align: left;
}

form { 
    text-align: center; 
}

input {
    height: 40px;
    width: 396px;
    margin-bottom: 2px;
    padding: 0px;
    font-size: 20px;
}

button {
    margin-top: 10px;
    width: 400px;
    height: 40px;
}

h3 {
    color: rgb(20%, 20%, 20%);
}

a {
    color: rgb(20%, 20%, 20%);    
}

a:hover {
    color: blue;
}

.user-photo {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.photos {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.bio-form {
    display: none;
}

.bio-button {
    width: 100px;
    display: inline;
    margin-right: 20px;
}

.bio-cancel {
    display: inline;
}


.photo-upload, .photo-cancel {
    display: inline;
    margin-right: 20px;
}
/* paint order??? */
a:hover {
    cursor: pointer;
}

.photo-form {
    display: none;
}



.image-enlarge {
   /*background-color: darkgray;
    filter: opacity(50%); */
    display: none;
    position: absolute;
    height: 60%;
    width: 60%;
    top: 20%;
    left: 20%;
}

.image-enlarge::after {
    content: '';
    top: 0%;
    left: 0%; 
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: darkgray;
    filter: opacity(50%);
}

.set-picture {
    display: inline;
    left: 82%;
    top: 92%;
    filter: opacity(100%);
    position: absolute;
    color: black;
    z-index: 2;
}

.exit {   
    left: 98%;
    top: 0%;
    position: absolute;
    z-index: 2; 
}

.enlarged-image {
    left: 10%;
    top: 10%;
    position: absolute;
    width: 80%;
    height: 80%;
    z-index: 2;
}

.photos:hover {
    cursor: pointer;
}

.message-container {
    border: 1px solid black;
    width: 100%;

}

.header-container {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
}

.header-words {
    width: 50%;
    text-align: center;
    
}

.content-container {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
    min-height: 100px;
}

.comment-picture {
    width: 80px;
    height: 80px;
}

.title-info {
    width: 50%;
}

.other-info {
    width: 30%;
}

.user, .title{
    height: 20px;
}

.message {
    border: 2px inset black;
    padding: 6px;
}

.comment-picture {
    margin-top: 10px;
}

.message-container {
    height: 400px;
    overflow-y: scroll;
}

